
/*--------------전체 설정------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow: hidden;
    /*background-color: rgb(177, 184, 239);*/
}

/*-------------광택--------------*/

.ba {
    display: flex;
    gap: 500px;
    position: absolute;
    height: 150%;
    width: auto; 
    transition: opacity 0.5s ease-in-out;
}

.thick {
    height: 150%;
    width: 80px;
    background-color: rgb(228, 232, 257);
    box-shadow: 0 0 100px 100px rgba(228, 232, 257);
}

.thin {
    height: 150%;
    width: 80px;
    background-color: rgb(228, 232, 257);
    box-shadow: 0 0 100px 100px rgba(228, 232, 257);
}





/*--------------화면 구성------------*/

.계산박스 {
    display: flex;
    border: 0;
    height: 600px;
    width: 400px;
    background-color: rgb(205, 211, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 0 50px 2px rgb(127, 137, 215);
    position: relative;
}

.display {
    display: flex;
    border-radius: 15px;
    height: 140px;
    width: 360px;  
    position: relative;
    z-index: 1;
    background-color: rgb(199, 206, 254);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                        linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 5px 5px;   /*3px마다 '1px 선 + 투명한 부분' 반복이 생김 => 격자무늬처럼 보임*/
    box-shadow: inset 0 0 10px rgba(164, 164, 244, 0.7);
    justify-content: end;
    align-items: center;
    padding: 15px;
}
#창 {
    border: 1px solid black;
    width: auto;
    height: auto;
    min-width: 3px;
    min-height: 26px;
    font-size: 25px;
}




/*--------------버튼------------*/

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 360px;
    position: relative;
    z-index: 1;
    gap: 10px 20px;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 15px;
    border: 0.1px solid rgb(168, 176, 237);
    background-color: rgb(196, 203, 252);
    box-shadow: inset -3px 3px 10px rgba(233, 233, 255, 0.7), -1px 1px 10px rgba(164, 164, 244, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(244, 245, 255);
    width: 72px;
    height: 72px;
    user-select: none;  /*마우스 댔을 때 드래그 표시 안 뜨게 함*/
}

#zero {
    width: 164px;
    height: 72px;
}

.button:hover {
    background-color: rgb(184, 189, 255);
    /* filter: invert(25%);  색 필터입히기 */
}
.button:active {
    background-color: rgb(160, 166, 241);
    box-shadow: inset -3px 3px 10px rgba(214, 218, 250, 0.7), -1px 1px 10px rgba(164, 164, 244, 0.7); 
    font-weight: 900;
}

/*--------뒤로가기---------*/
#delete {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 5;
    top: -10px;
    right: -5px;
    color: rgb(172, 178, 254);
    font-size: 35px;
    user-select: none;
}











































/*
body {
    background: linear-gradient(45deg, rgb(238, 243, 255) 10%, rgb(208, 214, 255)20%, rgb(241, 246, 255)40%, rgb(208, 214, 255)50%, rgb(241, 246, 255)70%, rgb(208, 214, 255) 80%, rgb(241, 246, 255) 100%);
    맨 처음 거: background: linear-gradient(45deg, rgb(238, 243, 255), rgb(194, 201, 255), rgb(241, 246, 255));
}


body.second {
    background: linear-gradient(45deg, rgb(238, 243, 255) 20%, rgb(200, 207, 255) 30%, rgb(241, 246, 255) 50%, rgb(200, 207, 255) 60%, rgb(241, 246, 255) 80%, rgb(208, 214, 255) 90%, rgb(241, 246, 255) 100%);
}
body.third {
    background: linear-gradient(45deg, rgb(238, 243, 255) 30%, rgb(200, 207, 255) 40%, rgb(241, 246, 255) 60%, rgb(200, 207, 255) 70%, rgb(241, 246, 255) 80%, rgb(208, 214, 255) 80%, rgb(241, 246, 255) 100%);
}
body.fourth {
    background: linear-gradient(45deg, rgb(238, 243, 255) 40%, rgb(200, 207, 255) 50%, rgb(241, 246, 255) 70%, rgb(200, 207, 255) 80%, rgb(241, 246, 255) 80%, rgb(208, 214, 255) 80%, rgb(241, 246, 255) 100%);
}
body.fifth {
    background: linear-gradient(45deg, rgb(238, 243, 255) 50%, rgb(200, 207, 255) 60%, rgb(241, 246, 255) 80%, rgb(200, 207, 255) 90%, rgb(241, 246, 255) 80%, rgb(208, 214, 255) 80%, rgb(241, 246, 255) 100%);
}

